// HEADER COMPONENT
.btn {
  padding: 1rem 2rem;
  font-size: 1.4rem;

  border: none;
  background-color: transparent;
  border-bottom: 1px solid $color-secondary;

  color: var(--color-grey-light-1);
  line-height: 1.6;
  letter-spacing: 2px;
  cursor: pointer;

  text-transform: uppercase;
  //   box-shadow: var(--shadow-dark);
  transition: all 0.4s;

  &:hover {
    background-image: linear-gradient(
      to right bottom,
      $color-secondary,
      $color-secondary-light
    );
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.09);
    transform: translateY(-2px);
    border: none;
  }

  &:link,
  &:active {
    background-image: linear-gradient(
      to right bottom,
      $color-secondary,
      $color-secondary-light
    );
    transform: translateY(2px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.09);
  }
}

.carousel-btn {
  filter: brightness(0.83);
  font-size: 1.5rem;
  border: 1px solid $color-secondary;
}

.btn--card {
  border: none;
  margin-right: 3rem;
  background-image: linear-gradient(
    to left,
    $color-secondary,
    $color-secondary-light
  );
}




/////////////////////////////
/// FORM COMPONENT

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  transition: all 0.3s;

  &--active {
    background-position: 100%;
  }

  &__span--1 {
    grid-row: 1/6;
    grid-column: 1/2;

    background-size: 220%;

    background-image: linear-gradient(
        90deg,
        transparent 0%,
        transparent 50%,
        rgba(#fff, 0.9) 50%
      ),
      url("/img/resturant\ backgroung.jpg");
  }

  &__span--2 {
    grid-row: 1/6;
    grid-column: 2/3;

    background-size: 220%;

    background-image: linear-gradient(
        90eg,
        transparent 0%,
        transparent 50%,
        rgba(#fff, 0.9) 50%
      ),
      url("/img/resturant\ backgroung.jpg");
  }

  &__heading {
    grid-row: 1/2;
    grid-column: 1/3;

    display: grid;
    justify-content: center;
    transform: translateY(20%);

    background-image: linear-gradient(
      to right bottom,
      $color-primary-dark,
      $color-secondary-light
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: $bp-extra-large) {
      margin-bottom: 3rem;
    }
  }

  &__sub-heading {
    grid-column: 1/2;
    grid-row: 1/2;
    // color: rgba(0,0, 225, .95);

    background-image: linear-gradient(
      to right bottom,
      $color-primary-dark,
      $color-secondary-light
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: grid;
    align-items: end;

    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

    font-weight: bold;
    letter-spacing: 1px;

    font-size: 1.3rem;
  }

  &__sub-heading--1 {
    grid-column: 2/3;
    grid-row: 1/2;
    // color: rgba(0,0, 225, .95);

    background-image: linear-gradient(
      to right bottom,
      $color-primary-dark,
      $color-secondary
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: grid;
    align-items: end;

    margin-left: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

    font-weight: bold;
    letter-spacing: 1px;

    font-size: 1.3rem;
  }

  &__group {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &__group--A {
    grid-column: 1/2;
    grid-row: 2/3;

    align-self: end;
    transform: translateY(50%);
  }

  &__group--B {
    grid-column: 1/2;
    grid-row: 3/4;

    align-self: center;
    transform: translateY(50%);
  }
  &__group--1 {
    grid-column: 2/3;
    grid-row: 2/3;

    justify-self: center;
    width: 90%;
  }
  &__group--2 {
    grid-column: 2/3;
    grid-row: 2/3;

    justify-self: center;
    width: 90%;

    align-self: end;
    transform: translateY(50%);
  }

  &__input {
    display: block;
    width: 90%;
    padding: 1.5rem 2rem;
    border: none;
    font-family: inherit;
    color: inherit;

    border-radius: 0.5rem;
    margin-left: 0.5rem;
    background-color: rgba(#fff, 0.5);
    border-bottom: 3px solid transparent;

    &:focus {
      outline: none;
      box-shadow: 0rem 1rem 2rem (#000, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__textarea {
    width: 90%;
    background-color: rgba(#fff, 0.5);
    padding: 1.5rem 2rem;

    border-radius: 0.5rem;
    border: none;
    font-family: inherit;
    color: inherit;
    // margin-top:1rem;

    &:focus {
      outline: none;
      box-shadow: 0rem 1rem 2rem rgba(#000, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
    }
  }

  &__textarea:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__group--4 {
    grid-column: 1/2;
    grid-row: 4/6;

    align-self: center;
    margin-left: 0.5rem;
    margin-top:-4rem;

    @media only screen and(max-width:$bp-medium-large){
      margin-top:0;
    }
  }

  &__label {
    display: block;
    grid-column: 1/2;

    margin-left: 2rem;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;

    transition: all 0.3s;
  }

  &__button {
    grid-column: 2/3;
    grid-row: 5/6;

    justify-self: center;
    align-self: center;
  }

  &__group--3 {
    grid-column: 2/3;
    grid-row: 3/4;

    display: block;
    width: 90%;

    align-self: center;
    justify-self: center;
    transform: translateY(50%);
  }

  &__dropdown {
    width: 100%;
    background: blue;

    padding: 1.5rem 2rem;

    border-radius: 0.5rem;
    border: none;

    background-color: rgba(#fff, 0.5);
    color: inherit;

    &:focus {
      outline: none;
      box-shadow: 0rem 1rem 2rem rgba(#000, 0.1);

      background-color: transparent;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
    }
  }
}

.btn--form {
  font-size: 1.5rem;
  border: 1px solid $color-secondary;
  background-image: linear-gradient(
    to left bottom,
    $color-secondary,
    $color-secondary-light
  );

  padding: 1rem 5rem;
}

/////////////////////////////////////
/// USER REVIEW STORY COMPONENT
.user-review {



  &__story::before {
    content: "\201c";
    position: absolute;
    top: -5%;
    left: 5%;
    color: var(--color-grey-dark-3);
    opacity: 0.3;
    font-size: 16rem;
    font-family: sans-serif;

    transform: skew(12deg);

    @media only screen and (max-width:$bp-medium){
      left:14%;
      transform:skew(-12deg);
     
        }
  }

  &__container--2 {
    grid-row: 2/3;
    grid-column: 1/3;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    @media only screen and (max-width:$bp-medium){
      width:70%;
     
        }
  }

  &__story {
    height: 18em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;

    width: 100%;
    background-color: rgba(#fff, 0.78);
    padding: 3.5rem;
    box-shadow: var(--shadow-light);

    @media only screen and (max-width:$bp-medium){
      width:70%;
      height:16rem;
     
        }

    


    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--text {
      grid-row: 1/2;
      grid-column: 1/-1;

      font-size: 1.4rem;
      font-family: inherit;
      line-height: 1.6;
      transform: skew(12deg);
    }

    &--imgs {
      grid-row: 2/3;
      grid-column: 1/3;
      margin-right: 1rem;

      position: relative;
      transition: all 0.2s;
      transform: skew(12deg);

      &--img {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        transform: scale(105%);
        max-width: 100%;

        @media only screen and (max-width: $bp-extra-large) {
          width: 7.3rem;
          height: 7.3rem;
        }

        @media only screen and(max-width:$bp-large) {
          width: 6.3rem;
          height: 6.3rem;
        }

        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        cursor: pointer;
      }

      &--caption {
        position: absolute;
        top: 39%;
        left: 11%;

        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;

        @media only screen and (max-width: $bp-extra-large) {
          font-size: 1rem;
          top: 29%;
          left: 30%;
        }
      }

      &:hover &--caption {
        opacity: 1;
      }

      &:hover &--img {
        transform: scale(100%);
        filter: blur(3px) brightness(80%);
      }
    }

    &--date {
      align-self: center;
      justify-self: center;

      margin-top: 0.5rem;

      font-size: 1.3rem;
      transform: skew(12deg);

      @media only screen and (max-width: $bp-extra-large) {
        font-size: 1.25rem;
      }
    }
    &--rating {
      align-self: center;
      justify-self: center;

      transform: skew(12deg);
      display:flex;
      margin-left:-1rem;
    }
    &--star {
      width: 1.2rem;
      height: 1.2rem;

      fill: transparent;
      display: inline-block;

      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.98),
        rgba($color-secondary-light, 0.9)
      );
      -webkit-mask-image: url(../img/SVG1/star.svg);
      mask-image: url(../img/SVG1/star.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
}

///////////////////////
/// BACKGROUND VIDOE COMPONENT

.bg-video {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.4;

  &--content {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

/////////////////////////
